<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41582448767-8bb8g6brum2ce9h2ifqb8jmrgmf7pmju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41582448767-8bb8g6brum2ce9h2ifqb8jmrgmf7pmju</string>
	<key>API_KEY</key>
	<string>AIzaSyCvfK393QKgDzmI0V-O32Vt4_5oIS2RWUs</string>
	<key>GCM_SENDER_ID</key>
	<string>41582448767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imageUpload</string>
	<key>PROJECT_ID</key>
	<string>econet-api</string>
	<key>STORAGE_BUCKET</key>
	<string>econet-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41582448767:ios:006f6f76b72f199d7b2f4a</string>
</dict>
</plist>